h1{
    text-align: center;
    color: green;
}
h2{
    text-align: left;
    color: aquamarine;
}
h3{
    text-align: right;
    color: yellowgreen;
}
p{
    text-align: center;
    color: chocolate;
}