body{
    background-color: black;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: darkolivegreen;
    text-indent: 30px;
}
h2{
    text-align: center;
    color: fuchsia;
    text-transform: initial;
}
h3{
    text-align: center;
    color: palegoldenrod;
    text-decoration: line-through;
}
p{
    text-align: justify;
    color: paleturquoise;
    letter-spacing: normal;
}